anyio==3.3.3
asyncio==3.4.3
async-generator==1.10
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
h11==0.12.0
html5lib==1.1
httpcore==0.13.10
httpx==0.21.1
idna==3.3
mechanize==0.4.5
pip==21.3
pyaes==1.6.1
pyasn1==0.4.8
python-pip==22.0.1
python-telegram-bot==19.8
requests==2.26.0
rsa==4.7.2
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
Telethon==1.23.0
urllib3==1.26.8
webencodings==0.5.1
gunicorn==20.1.0
Flask==2.0.1
pytelegrambotapi==3.9.0
firebase_admin==7.2.0
